
<% layout('layouts/boilerplate') %> 


    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="/images/notepad.jpg"
                        alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Todo</h5>
                        <form action="/todos" method="POST"  autocomplete="off">
                            <div class="mb-3">
                                <label class="form-label" for="todo">Add Todo</label>
                                <input class="form-control" type="text" id="todo" name="todo" >
                            </div>
                            <button class="btn btn-success btn-block mb-2">Add</button>
                        </form>



                        <% for(let todo of todos ){ %>
                            <div class="card ">
                                <div class="card-body">
                                    <a class="card-link btn btn-info float-end" href="/todos/<%=todo._id%>/edit">Edit</a>
                                    <form class="d-inline" action="/todos/<%=todo._id%>?_method=DELETE" method="POST">
                                        <button class="btn btn-danger float-end ">Delete</button>
                                    </form>
                                    <%=todo.todo %> 
                                </div>
                              </div>
                              <% } %> 
            
                        </div>
                    </div>
                </div>
          

        </div>
    </div>
     
   
 